* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

.prod-card {
    padding: 2%;
    cursor: pointer;
}

.border-pic {
    border: 2px solid black;
}

#procon {
    margin-top: 1%;
}

.imgproduct {
    border: 1px solid black;
}

.imgproduct:hover {
    border: 1px solid white;
}

#product:hover {
    background-color: black ;
    color: white;

}

