* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

.des-head {
    padding-left: 6%;
    margin-top: 1%; 
    font-size: 60px;
}

.des-right {
    border: 2px solid black;
    width: 60%;
    height: 100%;
    padding-top: 5%; 
    padding-right: 7%; 
    padding-left: 8%; 
    display: block;
    margin: auto;    
}

.img-prod {
    width: 60%;
    height: 100%;
    border: 2px solid black;
    display: block;
    margin: auto;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.des-amount {
    width: 20%;
    text-align: center;
    margin: 0;
}

.des-btn-add{
    background-color: black;
    color: white;
    width: 10%;
    border: 1px solid black; 
}

.des-btn-add:hover{
    background-color: white;
    color: black;
    width: 10%;
    border: 1px solid black; 
}

.des-group-btn {
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 5%; 
    height: 13%;
}

.des-btn-submit{
    width: 80%;
    height: 11%;
    margin-top: 1%; 
    background-color: white;
    border: 2px solid black; 
}

.des-btn-submit:hover{
    width: 80%;
    height: 11%;
    margin-top: 1%; 
    background-color: black;
    color: white;
    border: 2px solid black; 
}

.des-btn-size{
    width: 80%;
    height: 10%;
    background-color: black;
    color: white;
    display: block;
    margin: auto;
    border: 2px solid black; 
}

.des-btn-size:hover{
    width: 80%;
    height: 10%;
    background-color: white;
    color: black;
    display: block;
    margin: auto;
    border: 2px solid black; 
}

.des-img-size {
    width: 100%;
    display: block;
    margin: auto;
}

.txt-size {
    font-size: 30px;
    padding-left: 20%;  
    margin-bottom: -12.5px;
}



.des-my-modal {
    text-align: center;
}

.size-info {
    width: 30%;
    display: inline-block;
}

.fill-size {
    width: 15%;
}

.img-in-modal {
    width: 70%;
    height: 110%;
    margin-bottom: 150%;
}

.des-submit-fill {
    background-color: black;
    color: white;
    display: block;
    width: 100%; 
    border-style: solid;
}

.des-exit-fill {
    background-color: white;
    color: black;
    border-color: white;
    display: block;
    border-style: solid;
    margin-left: 98%;
}

.des-fill-label {
    font-size: 300%;
}


