* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.hl-content-logo {
    width: 40%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.hl-content-promotion {
    width: 60%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.hl-logo {
    width: 40%;
}

.slide-promo {
    width: 60%;
    height: 100%;
}