.hl-center {
    padding-top: 15%;
    width: 75%;
    display: block;
    margin: auto;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.hl-btn {
    color: black;
    padding: 5px;
    font-weight: normal;
    text-transform: uppercase;
    border: 2px solid black;
    display: block;
    margin: auto;
    width: 400px;
    height: 55px ;
    text-align: center;
    font-size: 30px;
}

.hl-btn:hover {
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
}

.col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px;
}

#img-hi {
    height: 200%;
}
.hl-img {
    width: 100%;
    height: 200%;
}
