.searchbar-2 {
    margin-top: 50%;
    margin-left: 5%;
    margin-bottom: 3%;
    background-color : #ffffff;
    border-color: #000000 ;
    display: inline-block;
    margin-top: 2px;
    line-height: 0em;
    padding: 0.5em 3.5em 0.5em 1em;
    width: 87%;
    height: 40px;
    border-radius: 0px ;
    border-width: 1px;
}

.his-header {
    font-weight: bold;
    font-size: 80px;
    text-align: right;
    margin-bottom: 1%;

}

.first-col-his {
    width: 10%;
    padding-left: 2%;
    border: 2px solid black;
    font-size: 30px;
}

.second-col-his {
    width: 45%;
    padding: 2%;
    border: 2px solid black;
    font-size: 15px;
}
.his-info {
    float: right;
    height: 300px;
    width: 95%;
    border: 2px solid black;
    font-size: 30px   
}