* {
    font-family: 'Trebuchet MS', Helvetica, sans-serif
}

.info-layout {
    width: 80%;
    padding-right: 5%;
}

.info-topic {
    margin-top: 3%;
    text-align: right;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 1%;
    padding-right: 4%;
    font-weight: bold;
}
.info-topic-left {
    margin-top: 3%;
    margin-left: 60%; 
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 1%;
    padding-right: 4%;
    font-weight: bold;
}

.info-content {
    font-size: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.info-ref {
    margin-top: 4%;
}

.info-btn {
    text-align: left;
    padding-left: 20%;
    padding-top: 10%;
    background: #ffffff;
    color: #000000;
    border-radius: 0;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px ;
    border-top: 100% ;
    border-bottom: 100% ;
}   

.info-btn:hover {
    background-color: black;
    text-decoration: none;
    color: white;
    
    padding: 10%;
    border-top: 100% ;
    border-bottom: 100% ;
}

.info-row {
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.info-border {
    border: 3px solid black;
    
}

.info-header {
    text-align: bottom;
    color: black;
    font-size: 100px;
    margin-bottom: -40px; 
    margin-left: -7px; 
}

.pic_zone {
    margin-right: 5px;
    width: 30%;
    height: 100%;
    float: left;
}

.pic_zone-right {
    margin-right: 5px;
    width: 30%;
    height: 100%;
    float: right;
    
}
.info-pic{
    margin: 2%;
    width: 100%;
    height: 100%;
    float: left;
    border: 2px solid black;
}

