.custom-radios div {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios input[type="radio"] + label {
  color: #333;
  font-size: 14px;
}

.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}

.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}

.custom-radios input[type="radio"]#color-1 + label span {
  background-color: #2ecc71;
  cursor: pointer;
  cursor: hand;
}

.custom-radios input[type="radio"]#color-2 + label span {
  background-color: #3498db;
  cursor: pointer;
  cursor: hand;
}

.custom-radios input[type="radio"]#color-3 + label span {
  background-color: #f1c40f;
  cursor: pointer;
  cursor: hand;
}

.custom-radios input[type="radio"]#color-4 + label span {
  background-color: #e74c3c;
  cursor: pointer;
  cursor: hand;
}

.custom-radios input[type="radio"]:checked + label span img {
  opacity: 1;
}

.searchbar{
  background-color : #ffffff;
  border-color: #000000 ;
  display: inline-block;
  margin-top: 2px;
  line-height: 0em;
  padding: 0.5em 3.5em 0.5em 1em;
  width: 64%;
  height: 40px;
  border-radius: 0px ;
  border-width: 1px;
}

.radio-sort {
  font-size: 20px;
  margin-left: 5px; 
}

.search_btn {
    background-color: black ;
    border-color: #000000 ;
    width: 80px ;
    height: 41px ;
    color: white;  
}

.search_btn:hover {
  background-color: white ;
  border-color: #000000 ;
  width: 80px ;
  height: 41px ;
  color: black;
  cursor: pointer;
  cursor: hand;
}

.left-tab {
  padding-left: 10%;
  margin: 0;
  width: 100%;
}

select.classic2 {
  width: 89%;
  margin-left: 0px; 
  cursor: pointer;
  cursor: hand;
}