.pay-header {
    font-weight: bold;
    font-size: 80px;
    text-align: right;
    margin-bottom: -33px; 
}

.pay-info {
    float: right;
    width: 95%;
    border: 2px solid black;
    padding: 2%;
    font-size: 30px   
}

#pay_icon {
    margin: 0px;
    width: 25%;
}
.pay-btn-add {
    margin-left: 2%;
    background-color: white;
    border: 2px solid black;
    font-size: 25px;
    width: 25%; 
}
.pay-btn-add:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
}
.pay-price {
    font-weight: bold;
    font-size: 35px
}

.pay-radio {
    border: 0px;
    width: 5%;
    height: 1em;
}

input[type=checkbox] {
    transform: scale(1);
}

.pay-table {
    float: left;
    border-collapse: collapse;
    width: 90%;
    border: 2px solid black;
    font-size: 20px ;

}

.btn-right {
    float: right;
    margin-top: 2%;
}
