.event {
    font-size: 450%;
    margin-top: 0%;
    margin-left: 40%;
    margin-bottom: -2.75%;  
}

.promotion-box {
    border: .1em solid black;
    padding: 2em;
    overflow-y: scroll;
    height: 25em;
}

.promotion-info {
    margin-top: 2%;
}

.promo-detail {
    font-size: 1.5vw;
    margin-top: 2%;
}



