.event {
    font-size: 450%;
    margin-top: 0%;
    margin-left: 60%;
    margin-bottom: -5.5%;  
}

.promotion-box {
    border: .2em solid black;
    padding: 2em;
    overflow-y: scroll;
    height: 28em;
    margin-top: 3%;
}

.promotion-info {
    margin-top: 2%;
}

.promo-detail {
    font-size: 1.5vw;
    margin-top: 2%;
}



