.siup-center {
    padding-top: 2%;
    text-align: center;
}

.signup {
    font-size: 650%;
    margin-top: 0%;
    margin-left: 52%;
    margin-bottom: -3%;   
}

.person {
    font-size: 250%;
    margin-top: 4%;
    margin-left: 43%;
    margin-bottom: -1.25%; 
}

.payment {
    font-size: 250%;
    margin-top: 4%;
    margin-left: 45%;
    margin-bottom: -1.25%; 
}

.gender {
    margin-right: 0%;
    margin-left: 0%;
}

.hbd {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.container {
    border-style: solid;
    border-width: 3%;
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 2%;
    padding-bottom: 2%;  
}

.radio-container {
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    padding-bottom: 3%;
}

.payment-table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

.signup_btn {
    text-align: center;
    font-size: 100%;
    width: 15%;
    height: 8%;
    background-color: white;
    border-style: solid;
    border-color: black;
}

.signup_btn:hover {
    text-align: center;
    font-size: 100%;
    width: 15%;
    height: 8%;
    background-color: black;
    border-style: solid;
    border-color: black;
    color: white;
    cursor: pointer;
    cursor: hand;
}

.addr {
    margin-top: 0%;
    width: 30vw;
    height: 8vw;
}

.addr-add {
    margin-top: 0%;
    width: 60vw;
    height: 8vw;
}
.address {
    margin-right: 30%; 
}

.member {
    margin-top: 2%;
    margin-bottom: -1%;
    margin-left: -30%;
    margin-right: 10%;
}

.member-radio {
    margin-right: 2%; 
    margin-left: 1%;
}

.member-box {
    background-color: white;
    display: inline-block;
    margin-top: 3%;
    padding-bottom:1%;
    
}
.member-box:hover{
    background-color: black;
    display: inline-block;
    color: white;
    padding-bottom: 1%;
    cursor: pointer;
    cursor: hand;
    
    
}

.member-icon {
    width: 50%;
}



.add-card-info {
    font-size: 300%;
    margin-bottom: -3.3%;
    margin-top: 2%; 
    margin-left: 60%;
}

.info-box {
    border-style: solid;
    border-color: black;
    padding: 5%; 
    text-align: center;
}

.modal-btn {
    margin-right: 2%;
    float: right;
}

.cvv {
    width: 4%;
}

.pull-right {
    margin-left: 75%;
}
#visa_icon {
    margin-bottom: 8px;
    height: 2%;
    width: 8%;
    padding-right: 20px ;
    margin-left: 2% ;
}
