* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.siup-center {
    padding-top: 2%;
    text-align: center;
}

.signup {
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: -25px;   
}

.person {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -10px; 
}

.payment {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -10px; 
}

.container {
    border-style: solid;
    border-width: 3px;
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 2%;
    padding-bottom: 2%;  
}

.payment-table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

.signup_btn {
    text-align: center;
    font-size: 14px;
    width: 180px;
    height:50px;
    background-color: white;
    border-style: solid;
    border-color: black;
}

.addr {
    margin-right: 50px;
    width: 50%;
    height: 110px;
}

.member_class {
    width: 70px;
    height: 120px;
    margin-right: -4px; 
}

.pull-right {
    margin-left: 75%;
}

